.card {
    display: flex; justify-content: center;
      width: 250px;
      flex-direction: column;
      padding: 5px ;
      border-radius: 10px;
      border: 0.25px solid #e8e7f3; 
     background-color: rgb(76, 104, 145);
    }


