.loading{
  width: 100%;
  height: 100vh;
}
.divPokemones{   
    margin: 50px;
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a:link, a:visited {
    /* background-color: #f44336; */
    /* color: white; */
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .divMaster{
    margin: 0%;
    padding: 0%;
    background-image: url(./imagen/website-background-image-size-psd-vector-photo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%
  }
 