body{
    /* background-color: rgb(213, 29, 29); */
    background-image: url(./imagen/R.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%
   }

h1 {
color: aliceblue;
font-family: monospace;
}

p{
    color: aliceblue;
    
}




