body{
    background-image: url(./imagen/R.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

h1 {
color: aliceblue;
font-family: monospace;
}

p{
    color: aliceblue;
    
}




