.nav {
  background-color: rgb(97, 97, 97);
  /* background: linear-gradient(
    180deg,
    rgba(140, 31, 78, 1) 0%,
    rgba(130, 140, 31, 0.8633578431372549) 50%,
    rgba(140, 31, 78, 1) 100%
  ); */
  margin: 0;
  padding: 0;
  height: 60px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
}

.nav img {
  height: 50px;
  padding: 5px;
  margin-left: 10px;
}


.btn_navbar {
  /* background: linear-gradient(#5dc7a2, #0c0636); */
  background: linear-gradient(180deg, rgba(235,25,110,1) 0%, rgba(0,0,0,0.6812850140056023) 50%, rgba(235,25,110,1) 100%);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  /* box-sizing: border-box; */
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.8em;
  /* margin: 5px; */
  padding: 8px;
  text-align: center;
  /* user-select: none; */
  /* -webkit-user-select: none;
      touch-action: manipulation; */
  transition-duration: 0.4s;
}

.btn_navbar:hover {
  background: #4caf50; /* Green */
  color: black;
}
