.nav{
    /* background: linear-gradient(#0d70ea, #0dccea ); */
    background: linear-gradient(#200e38, #6a0e47);
    margin: 0;
    padding: 0;
    height:60px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

.nav img{
height: 50px;
padding: 5px;
margin-left: 10px;
}

.botonCrear{ 
    background-image: linear-gradient(#0dccea, #0d70ea);
      border: 0;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
      /* box-sizing: border-box; */
      color: #fff;
      cursor: pointer;
      font-family: Montserrat,sans-serif;
      font-size: .9em;
      /* margin: 5px; */
      padding: 10px;      
      text-align: center;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  }